#box{
    width: 0;
    height: 0;
    /* border: 2px solid rgb(248, 7, 7); */
    /* box-shadow: 2px 4px   red; */
    position:fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
    
   

}
#box:target{
    width: 30%;
    height: 30%;
    position:fixed;
    top: 30%;
    left:30%;
    background-color: lightblue;
}

